.carousel-item{
    height:32rem;
    background-color: #777;
    color:white;
    text-shadow: black 2px 2px 4px;
}

body{
    background: #171819;
}


h1{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align:center;

}
h2{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 4em;
    text-align:center;
    color: white;
    text-shadow: 2px 1px 2px black
}
p{
    color:whitesmoke;
    text-shadow: 1px 1px 2px black
}
.projects p{
    margin:auto;
    display:block;
}
.projects a{
    margin:auto;
    display:block;
}
.projects img{
    margin:auto;
    display:block;
    width: 75%;
}

