.carousel-item{
    height:32rem;
    background-color: #777;
    color:white;
    text-shadow: black 2px 2px 4px;
}

body{
    background: #171819;
}


h1{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align:center;

}
h2{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 4em;
    text-align:center;
    color: white;
    text-shadow: 2px 1px 2px black
}
p{
    color:whitesmoke;
    text-shadow: 1px 1px 2px black
}
.projects
{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }
.projects p{
    margin:auto;
    display:block;
    text-align:center
}
.projects a{
    margin:auto;
    display:block;
    text-align:center
}
.projects img{
    margin:auto;
    display:block;
    width: 75%;
    animation: grow ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes grow{
        from{transform : scale(.75)}
        to{transform : scale(1)}
    }


