{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../../static/css/skillbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% include 'nav.html' %}
    <div style="transform:scale(.6) translateY(-30%); font-size: 125%">
        <h1>About</h1>
        <section name="bio" class="container-lg">
            <div name="bio-container center" id="bio-container">
                <div id="bio-photo">
                    <img src="../static/images/IMG_5335.jpg" style="max-width:500px;">
                </div>
                <aside name="bio-text" id="bio-text">
                    <h3>My Story</h3>
                    <p>Hello, my name is Julian Lechner and I am a Web Developer with 3+ years experience with building
                        web
                        applications. I am currently studying Web & Information Systems at New Jersey Institute of
                        Technology and
                        seeking an internship for Summer 2023.</p>
                    <h3>Technical Skills</h3>
                    <p>HTML</p>
                    <div class="skill-container">
                        <div class="skill html">100% &nbsp</div>
                    </div>
                    <br>
                    <p>CSS</p>
                    <div class="skill-container">
                        <div class="skill css">75% &nbsp</div>
                    </div>
                    <br>
                    <p>JavaScript</p>
                    <div class="skill-container">
                        <div class="skill js">70% &nbsp</div>
                    </div>
                    <br>
                    <p>React</p>
                    <div class="skill-container">
                        <div class="skill react">25% &nbsp</div>
                    </div>
                    <br>
                </aside>
            </div>
        </section>
    </div>

{% endblock %}
