{% extends "base.html" %}
{% block content%}
    {% include 'nav.html' %}
    <div class="container-lg container-md">
        <div class="center">
            <div class="center" style="border: solid white 3px; width:500px; height:300px; padding:20px;">
                <h3>Email</h3>
                <p>jll38@njit.edu</p>
                <h3>Phone #</h3>
                <p>(609) 846-5094</p>
            </div>
        </div>


        </div>
        {#<form class="form-group">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control w-25" type="text" name="name" id="name">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control w-50" type="text" name="email" id="email">
            <label class="form-label" for="msg">Message:</label>
            <textarea class="form-control" rows="5" name="msg" id="msg" resize></textarea>
        </form>#}
    </div>
{% endblock %}
