{% extends "base.html" %}
{% block content%}
    {% include 'nav.html' %}
        <form class="form-group">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control w-25" type="text" name="name" id="name">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control w-50" type="text" name="email" id="email">
            <label class="form-label" for="msg">Message:</label>
            <textarea class="form-control" rows="5" name="msg" id="msg" resize></textarea>
        </form>
    </div>
{% endblock %}
