{% extends "base.html" %}
{% block content%}

            <div class="container" style="background:#333333">
                    <div class="container">

                            <div class="row">
                                 <div class="col-6" style="border: red 2px solid; padding-top: 15%">
                                      <h1>Julian Lechner</h1>
                                      <h3>Web Developer</h3>
                                     <p>Find me on <span><a href="https://www.linkedin.com/in/julianllechner">LinkedIn</a></span> and <span><a href="https://github.com/jll38">GitHub</a></span>!</p>
                                      <p>Download my resume (PDF format)</p></p>

                                 </div>
                                <div class="col-2">

                                </div>
                                <div class="col-4">
                                    <img src="../static/images/myself.PNG" alt="Picture of myself">
                                </div>
                            </div>



                    </div>
            </div>

{% endblock %}
