{% extends "base.html" %}
{% block content%}

    <div class="carousel-item active">
        <div class="container">
            <div class="container-sm" style="padding-right:50%;border: solid red 2px; position: center">
                <h1>Julian Lechner</h1>
                <p>
                Welcome to my website! This is where I will show off my skills as well as giving general information
                about myself. Click the button below to see some of my projects or scroll down to learn a little bit
                    about me
                </p>
            </div>

        </div>
    </div>

{% endblock %}
