{% extends "base.html" %}
{% block content%}

            <div class="container">
                    <div class="container fixed">

                            <div class="row">
                                 <div class="col-6" style="border: red 2px solid; padding-top: 15%">
                                      <h1>Julian Lechner</h1>
                                      <h2>Web Developer</h2>
                                     <p>Find me on <span><a href="https://www.linkedin.com/in/julianllechner">LinkedIn</a></span> and <span><a href="https://github.com/jll38">GitHub</a></span>!</p>
                                     <p>View <span><a href="https://docs.google.com/document/d/119nA5OZB5m55l_P4d16vhrFzgkUK7LPeog05zWU5q2g/edit?usp=sharing">my resume</a></span> (Google Drive)</p>

                                 </div>
                                <div class="col-2">

                                </div>
                                <div class="col-4">
                                    <img src="../static/images/myself.PNG" alt="Picture of myself" style="width:100%; height:100%">
                                </div>
                            </div>



                    </div>
            </div>

{% endblock %}
