{% extends "base.html" %}
{% block content %}
{% include 'nav.html' %}
    <div class="container-fluid">

    <h1>Projects</h1>
    <div class="flex-grid">
        <div class="flex-item">
            <div class="card">
                <img class="card-img-top" src="../static/images/chat.PNG" alt="Chat App">
                <div class="card-body" style="background-color:#4d4b4b">
                    <h3 class="card-title">PHPChat</h3>
                    <p class="card-text">A full-stack user experience utilizing HTML, CSS, Bootstrap, PHP, MySQL, and
                        JQuery.</p>
                    <a class="card-link" href="https://github.com/jll38/web-chat-app" target="_blank">Github
                        Repository</a>
                    <a href="https://web.njit.edu/~jll38/assignment5/register.php" target="_blank" style="float:right"
                       class="btn btn-primary btn-lg" role="button" aria-pressed="true">Visit</a>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card">
                <img class="card-img-top" src="../static/images/lake clark web.PNG" alt="Chat App">
                <div class="card-body" style="background-color:#4d4b4b">
                    <h3 class="card-title">National Park Page</h3>
                    <p class="card-text">A webpage for Lake Clark National Park</p>
                    <a href="https://web.njit.edu/~jll38/assignment1/index.html" target="_blank" style="float:right"
                       class="btn btn-primary btn-lg" role="button" aria-pressed="true">Visit</a>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card">
                <img class="card-img-top" src="../static/images/transactions.PNG" alt="Chat App">
                <div class="card-body" style="background-color:#4d4b4b">
                    <h3 class="card-title">SQL Transaction Table</h3>
                    <p class="card-text">A full-stack user experience utilizing Flask, requires a login and allows a
                        user to upload and display a CSV file</p>
                    <a class="card-link" href="https://jll38-is218-final.herokuapp.com/" target="_blank">Github
                        Repository</a>
                    <a href="https://github.com/jll38/IS218_Final" target="_blank" style="float:right"
                       class="btn btn-primary btn-lg" role="button" aria-pressed="true">Visit</a>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <div class="card">
                <img class="card-img-top" src="../static/images/article.PNG" alt="Chat App">
                <div class="card-body" style="background-color:#4d4b4b">
                    <h3 class="card-title">Technologies Article</h3>
                    <p class="card-text">Built a flask web-app that contains article regarding the technologies I've
                        utilized</p>
                    <a class="card-link" href="https://github.com/jll38/IS218_Project_Two_Calc" target="_blank">Github
                        Repository</a>
                    <a href="https://project-two-jll38.herokuapp.com/" target="_blank" style="float:right"
                       class="btn btn-primary btn-lg" role="button" aria-pressed="true">Visit</a>
                </div>
            </div>
        </div>
    <div class="flex-item">
            <div class="card">
                <img class="card-img-top" src="../static/images/projects.png" alt="Chat App">
                <div class="card-body" style="background-color:#4d4b4b">
                    <h3 class="card-title">JavaScript Coding</h3>
                    <p class="card-text">A web-app I use to make fun little things in JavaScript</p>
                    <a class="card-link" href="https://github.com/jll38/cool_random_webpages" target="_blank">Github
                        Repository</a>
                    <a href="https://cool-stuff-and-projects.herokuapp.com/" target="_blank" style="float:right"
                       class="btn btn-primary btn-lg" role="button" aria-pressed="true">Visit</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
